@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@model BusinessCourse_Application.Services.Member.Command.AddMemberCommand

<form id="membersForm" enctype="multipart/form-data">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">@Localizer.GetString("AddMember")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4 g-6">
                    <div class="col-6">
                        <div class="row">
                            <label class="col-md-2 col-form-label" for="basic-default-name">@Localizer.GetString("PhoneNumber")</label>
                            <div class="co-md-10">
                                <input type="tel" class="form-control" id="phoneNumber" pattern="(\+60|60|0)[1-9][0-9]{8,9}" required asp-for="PhoneNumber" placeholder="0XXXXXXXXX">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                          <div class="row">
                            <label class=" col-form-label" for="basic-default-name">@Localizer.GetString("Rank")</label>
                            <div class="">
                                  <select id="membership" class="form-select" asp-for="MembershipId">
                                      @foreach (var status in ViewBag.RankList)
                                      {
                                          <option value="@status.Value" )>
                                              @status.Text
                                          </option>
                                      }
                                  </select>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="mb-4 row g-6">
                        <div class="col-6">
                            <div class="row">
                                <label class="col-form-label" for="basic-default-name">@Localizer.GetString("ChineseName")</label>
                                <div class="">
                                <input type="text" id="chineseName" class="form-control" asp-for="ChineseName" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label class="col-form-label" for="basic-default-name">@Localizer.GetString("EnglishName")</label>
                                <div class="">
                                <input type="text" id="englishName" class="form-control" asp-for="EnglishName" required>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="mb-4 row g-6">
                      <div class="col-6">
                          <div class="row">
                              <label class="col-form-label" for="basic-default-name">@Localizer.GetString("Email")</label>
                              <div class="">
                                  <input type="email" id="email" class="form-control" asp-for="Email">
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="row">
                              <label class="col-form-label" for="basic-default-name">@Localizer.GetString("MemberCode")</label>
                              <div class="">
                                  <input type="text" id="memberCode" class="form-control" asp-for="MemberCode">
                              </div>
                          </div>
                      </div>
                </div>
                <div class="mb-4 row g-6">
                    <label class="col-form-label" for="basic-default-name">@Localizer.GetString("Remark")</label>
                    <div class="">
                        <textarea id="remark" class="form-control" name="largeTextBox" rows="10" cols="50" asp-for="Remark"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submit" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</form>

<script>
    $("#submit").click(function () {
        var formValid = $('#membersForm').valid();

        var phoneInput = document.getElementById("phoneNumber").value;
        var phonePattern = /^(\+60|60|0)[1-9][0-9]{8,9}$/;

        if (!phonePattern.test(phoneInput)) {
            alert("请输入正确的电话号码。");
            return;
        }

        if (!formValid) return;
        // initToastr();
        showLoading();
        addRecord();
    });

    function addRecord() {
        var formData = new FormData($('#membersForm')[0]);

        $.ajax({
            url: "/Members/AddMember",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            success: function (data) {
                hideLoading();
                if (data.result.succeeded == true) {
                    toastr["success"]("The action has been completed successfully", "Success");
                    globalTableData.api().ajax.reload();
                    $('#membersModal').modal('hide');
                } else {
                    toastr["error"](data.message, "Error");
                }
            },
            error: function (e) {
                hideLoading();
                $('#membersModal').modal('hide');
                toastr["error"](e, "Error");
            }
        });
    }

    var showLoading = function () {
        $(".loading").show();
    }

    var hideLoading = function () {
        $(".loading").hide();
    }


    $(document).ready(function () {

    })
</script>
